<%-include ('partials/header')%>
<h1>Compose</h1>

<form  action="/compose" method="post">
<div class="form-group">
  <label for="text">Title</label>
  
 <label for="text">Post </label><textarea class="form-control" name="PostContent"  ></textarea>

</div>
<button type="submit" class= "btn btn-primary"name="publish">Publish</button>

</form>
<%-include ('partials/footer')%>
